<%- include("partials/header") -%>


<div class="container d-flex flex-column text-start">
    
<% posts.forEach(function(item){  %>
<h4 style="color: rgb(255, 255, 255)"><%=item.title%></h4>
<% }) %>

</div>



<%- include("partials/footer") -%>