 <%- include ('partials/header') -%>


 
<div class="cover-container d-flex p-3 mx-auto flex-column">

 <div class="container t-3 b-4 d-flex mx-auto w-100 h-60 flex-column">
    <h1>Contact/Info</h1>
    <div class="row mt-5">
        <div class="col-sm d-flex flex-column">
            <i class="fa-solid fa-phone"></i>
             <h1>Call center</h1>  
             <p class="lead">021 2345</p> 
             <p>Disponibil in toate retelele (tarif normal)</p>
        </div>
         <div class="col-sm d-flex flex-column">
            <i class="fa-solid fa-business-time"></i>
             <h1>Program call center</h1>  
             <p class="lead">Luni - Vineri: 08:00 – 21:00</p> 
             <p class="lead">Sambata: 08:00 – 17:00</p> 
             <p class="lead">Duminica: Indisponibil</p> 
        </div>
        <div class="col-sm d-flex flex-column">
            <i class="fa-solid fa-location-dot"></i>
             <h1>Sediu central</h1>  
             <p class="lead">Soseaua Nicolina, Nr. 2A Iasi, Judetul Iasi</p> 
             <p>Fax: 021/123.45.67</p>
        </div>
      <div class="col-sm d-flex flex-column">
            <i class="fa-solid fa-envelope"></i>
             <h1>Adresa de email</h1>  
             <p class="lead">Companie1234@Romania.ro</p> 
        </div>
    </div>
</div>






 <%- include ('partials/footer') -%>