<%- include("partials/header") -%>
 
<h1 class="pt-5">Control panel</h1>
<div class="album py-5">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        
        <a class="titleHref" target="_blank" href="/compose">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://fearfreepets.com/wp-content/uploads/2017/03/bigstock-220533724.jpg">
            <div class="card-body">
              <p class="card-text" style="color:rgb(255, 255, 255) ;font-size: 1.6rem;">Compose page</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="small" style="font-size: 0.9rem;">Create a blog</small>
              </div>
            </div>
          </div>
        </div>
        </a>

            <a class="titleHref"  target="_blank" href="/posts">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://dizignhouse.co.za/wp-content/uploads/2017/05/Responsive-Web-Design.jpg">
            <div class="card-body">
              <p class="card-text" style="color:rgb(255, 255, 255) ;font-size: 1.6rem;">Home page</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="small" style="font-size: 0.9rem;">Navigate to main page</small>
              </div>
            </div>
          </div>
        </div>
        </a>

            <a class="titleHref" target="_blank" href="/failure">
        <div class="col">
          <div class="card shadow-sm">
            <img src="https://img.freepik.com/premium-vector/error-404-page-found-natural-concept-illustration-web-missing-landing-page_607751-151.jpg">
            <div class="card-body">
              <p class="card-text" style="color:rgb(255, 255, 255) ; font-size: 1.6rem;">Error page</p>
              <div class="d-flex justify-content-between align-items-center">
                <small class="small" style="font-size: 0.9rem;">Navigate to default error page</small>
              </div>
            </div>
          </div>
        </div>
        </a>

           </div>
    </div>
  </div>


<%- include("partials/footer") -%>